html {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#header {
    color: darkred;
    font-size: 50px;
}

.playerHead {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2px;
    top: 5%;
}

h2 {
    font-size: 100px;
    margin: 10px;
}

#playerX {
    left: 15%;
    color: darkred;
    text-shadow: 1px 1px 2px skyblue, 3px 3px 6px skyblue;
}

#playerO {
    left: 80%;
    color: skyblue;
    text-shadow: 1px 1px 2px darkred, 3px 3px 6px darkred;
}

p {
    font-size: x-large;
}


#newGame {
    margin: 10px;
    font-size: x-large;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: skyblue;
    color: darkred;
}

.formDisplay {
    position: absolute;
    display: none;
    left: 57%;
    top: 10%;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
    z-index: 10;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px;
    display: inline-block;
}

#container {
    display: grid;
    border: 5px solid darkred;
    border-radius: 30px;
    padding: 5px;
    gap: 5px;
    background-color: skyblue;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.box{
    background-color: darkred;
    border-radius: 30px;
    color: skyblue;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}