html {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#header {
    color: darkred;
    font-size: 50px;
}

#container {
    display: grid;
    border: 5px solid darkred;
    border-radius: 30px;
    padding: 5px;
    gap: 5px;
    background-color: skyblue;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.box{
    background-color: darkred;
    border-radius: 30px;
    color: skyblue;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}